.youtubeHead{
    background-color: #f9f9f9;
    width:100%;
    height:118px;
}
.youtubeElements{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.youtubeLogo{
 padding-top: 14px;
 height: 30px
}

.channelLogo{
    position: absolute;
    top:74px;
    height:80px;
    border-radius:50%
}
.channelName{
    position: absolute;
    width: 100%;
    height: 24px;
    left: 50%;
    top: 183px;
    transform: translate(-50%,-50%);
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.youtubeTimer{
    position: relative;
    top: 360px;
    left: 49%;
    text-align: center;
    margin-right: 0;
    transform: translate(-50%,-50%);
    font-weight: bold;
    height:102.391px;
}

.counter {
    /* margin-top: 20px; */
    /* border: 1px solid black; */
    position: relative;
    font-weight: 700;
    font-size:72px;
  }
  
  .number {
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    opacity: 1;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    z-index:1;
    /* font-family: "Roboto","Noto",sans-serif; */
    /* border: 1px solid black; */
  }
  
  .visible {
    opacity: 1;
  }
  
  .hidden {
    opacity: 0;
    transform: translateY(-30px);
  }
  
  .overlay {
    position: absolute;
    top: -16px;
    left: 44%;
    /* border: 1px solid black; */
    height: 30px;
    width: 300px;
    z-index: 2;
    background-color: white;
  }

.subscribers{
    position: relative;
    top: calc(50% - 12px);
    left: 51%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    color:#606060;
}